<ion-view>


  <ion-header-bar  class="bar bar-header bar-positive" style="background-image:url(img/bg.png);background-size:100% 100%;color:white;">
	  <button class="button button-icon icon ion-chevron-left" ng-click="buttonPageBack();"></button>
      <h1 class="title">{{appTitle}}</h1>
      <button class="button button-icon icon ion-plus-circled" ng-click="buttonCreate();"></button>
  </ion-header-bar>	

  <ion-content style="background-image:url(img/bg.png);background-size:100% 100%;color:white;">
	 
    <!--<ul class="list">

      <li ng-repeat="item in items" type="item-text-wrap"  class="item item-button-right">
        <a href="" style="text-decoration: none; margin-top:5px;">
          
          <h2 ng-click="imageClickFtn(item.id);">{{item.title}}</h2>
          </a>
          <button class="button" ng-click="buttonEditCall(item.id);" style="right:15%;background-image:url(img/edit.png);background-size:100% 100%;">
           
          </button>

        <button class="button" ng-click="buttonDeleteCall(item.id);" style="right:2%;background-image:url(img/close.png);background-size:100% 100%;">
            
          </button>
        
      </li>
    </ul>-->

    <ion-list style="background-image:url(img/bg.png);background-size:100% 100%;">
        <ion-item ng-repeat="item in items" type="item-text-wrap" class="item item-avatar" style="" ng-click="imageClickFtn(item.id);">
          <img src="{{item.image}}" >
          <h2 style="color:white;">{{item.title}}</h2>
          <ion-option-button ng-click="buttonEditCall(item.id);" >
            <img src="img/edit.png" style="width:35px;margin-top:50%;"/>
          </ion-option-button>
          
          <ion-option-button ng-click="buttonDeleteCall(item.id);" >
            <img src="img/close.png" style="width:35px;margin-top:50%;"/>
          </ion-option-button>
        </ion-item>

    </ion-list>  
	</ion-content>
  
</ion-view>

